body {
    width: 60%;
    padding: 0 20%;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    color: black
    }
    
#chart {
height:70vh;
background-color: white;
color: blue;
}
        
.container {
text-align: center;
}
